@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.fa-pinterest {
    color: red;
    font-size: 40px;
    }

a, h5 {
    font-family: 'Roboto', sans-serif;
}
   
.fa-circle, .fa-comment-dots, .fa-bell {
    color:lightgrey;
    font-size: 30px;
    }

.fa-ellipsis-h {
    color:lightgrey;
    font-size: 20px;
}

.fa-user-friends {
    color: black;
    font-size: 20px;
}