<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../sass/style.scss")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet")
    script(src="../js/main.js")

  body(class="m-2")

    ul.nav.navbar-expand-md.nav-fill.fixed-top.navbar-light.bg-light.float-right.text-right
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
            span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
            li.nav-item
                a(class='nav-link active' href='#')
                    i(class="fab fa-pinterest")
            li.nav-item(class="w-50 mt-1")
                div(class="input-group" placeholder="search" class="text-muted")
                    div(class="input-group-prepend")
                        span(class="input-group-text" id="inputGroup-sizing-default")
                            i(class="fas fa-search")
                    input(type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default")
            li.nav-item
                a(class='nav-link active text-dark' href='#') Home
            li.nav-item
                a(class='nav-link' href='#' class="text-muted") Following
            li.nav-item
                i(class="fas fa-user-friends mt-2")
            li.nav-item
                i(class="fas fa-circle mt-1 ml-2")
            li.nav-item
                a(class='nav-link text-muted mr-2' href='#') Gabriella
            li.nav-item
                i(class="fas fa-comment-dots mr-3")
            li.nav-item 
                i(class="fas fa-bell mr-3")
            li.nav-item
                i(class="fas fa-ellipsis-h")
            
    
    section(id="gallery")
        div(class="row")
            div(class="column-1 col-lg-4")
                div(class="card rounded m-3")
                    img(class="card-img-top" src="../imgs/bedroom.jpg")
                    div(class="card-body")
                        h5(class="card-title") Dream Bedroom Decor
            
                div(class="card rounded")
                    img(class="card-img-top" src="../imgs/budget.jpg")
                    div(class="card-body")
                        h5(class="card-title") Budget Catergories
            
                div(class="card rounded")
                    img(class="card-img-top" src="../imgs/does-this.jpg")
                    div(class="card-body")
                        h5(class="card-title") Get in the Habit
            div(class="column-2 col-lg-4")
                div(class="card rounded")
                    img(class="card-img-top" src="../imgs/kitchen.jpg")
                    div(class="card-body")
                        h5(class="card-title") Dreamy Kitchen Decor
            
                div(class="card rounded")
                    img(class="card-img-top" src="../imgs/relax.jpg")
                    div(class="card-body")
                        h5(class="card-title") Relax, you will be okay
            
                div(class="card rounded")
                    img(class="card-img-top" src="../imgs/capsule-wardrobe.jpg")
                    div(class="card-body")
                        h5(class="card-title") 7-Day Capsule Wardrobe
            div(class="column-3 col-lg-4")
                div(class="card rounded")
                    img(class="card-img-top" src="../imgs/boho-kitchen.jpg")
                    div(class="card-body")
                        h5(class="card-title") Boho Rustic Kitchen Decor
            
                div(class="card")
                    img(class="card-img-top" src="../imgs/same-place.jpg")
                    div(class="card-body")
                        h5(class="card-title") The goal is not to be in the same place
            
                div(class="card rounded")
                    img(class="card-img-top" src="../imgs/self-care.jpg")
                    div(class="card-body")
                        h5(class="card-title") Self-Care Menu
                div(class="card rounded m-3")
                    img(class="card-img-top" src="../imgs/desk.jpg")
                    div(class="card-body")
                        h5(class="card-title") Desk Under the Stairs      